<p>
  mDevCoinExchange is a simulation of a cryptocurrency market. We have created three coins: Android Dev Coin (ADC), iOS Dev Coin (IDC) and Cross Platform Coin (XPC). You will get some coins after login and more at our partners' booths. The value of the coins will change, you can speculate on their future value and exchange them with others. You can get <a href="https://docs.google.com/spreadsheets/d/17lB_dQh59POsdNgU_Y2qt6Xq6IIfh6ag8Q2hPJMWEHA/edit?usp=sharing">sweet prizes for your coins worth around 300,000 CZK</a>.
</p>
<h2>How to start</h2>
<p>You will find two keys on your badge – an address on the front (4 characters) and a private key on the back (8 characters). Type your private key in the form above to access your coins. Anyone who has your private key can do that. You can password-protect your private key after login to prevent that.</p>
<h2>Earning coins</h2>
<p>You can earn even more coins by completing tasks at our partners' booths. Each partner has a different coin, a different task and offers a different amount of coins. Go to the booth and ask them about the task. These partners are part of the game:</p>
<ul>
  <li>MSD</li>
  <li>Avast</li>
  <li>Adastra.one</li>
  <li>Microsoft</li>
  <li>eMan</li>
  <li>Etnetera</li>
  <li>JetBrains</li>
  <li>LMC</li>
  <li>Nodes</li>
  <li>Alza</li>
  <li>STRV</li>
  <li>Kiwi</li>
</ul>
<h2>Trading coins</h2>
<p>You can trade with others anonymously on an open market. Create a new offer and when someone accepts the price, coins are transferred.</p>
<p>Trading affects the current price of the coins. Total value of all coins in CZK stays the same, but some coins will get more or less valuable. The current value is calculated as a weighed average from the past 30 minutes of transactions.</p>
<h2>Sending coins</h2>
<p>You can send your coins to others directly, for example from multiple accounts into one to have a larger market power. You will need the address from their badge. Sending coins privately doesn't affect the coin price.</p>
<h2>Cashing out</h2>
<p>You can exchange your coins for physical prizes near the registrations. They will be available after lunch. After you type the value of the <a href="https://docs.google.com/spreadsheets/d/17lB_dQh59POsdNgU_Y2qt6Xq6IIfh6ag8Q2hPJMWEHA/edit?usp=sharing">prize</a> in CZK, it will be subtracted from all your coins evenly based on the current rate. After the transaction is confirmed, the attendant will give you your prize. This works only until prizes run out. You don't have the right to get actual CZK money, it's just a game.</p>
<h2>Fake news?</h2>
<p>Fake news are affecting everyone, even mobile developers. Fake news can affect the coin prices unexpectedly! Follow channel #mdevcoinexchange on <a href="https://mdevcamp2018.slack.com">Slack</a> for more details.</p>
<h2>Problems?</h2>
<p>If anything doesn't work, contact us at #mdevcoinexchange channel on <a href="https://mdevcamp2018.slack.com">Slack</a>.</p>
<h2>Authors</h2>
<p>This game was developed by David Vávra (frontend, leadership), Jiří Čadek (backend) and David Ryšánek (graphs, design).</p>